{% extends 'dice/base.html' %}
{% load staticfiles %}
{% block title_block %}
AboutUs
{% endblock %}

{% block body_block %}

<body>
    <main class="page">
        <section class="clean-block about-us" style= "background-image: src="static/images/website_image/couch co-op.jpg">
            <div class="container">
                <div class="block-heading" style="height: 275px;">
                    <h1 style="color: #ffffff;font-size: 50px;filter: grayscale(0%) sepia(0%);font-family: 'Advent Pro', sans-serif;"><strong>ABOUT</strong></h1>
                    <p style="color: #ffffff;opacity: 1;font-size: 18px;width: 500px;">Couch CO-OP is a website that allows tabletop gamers to find new and exciting games to play and have the opportunity to dicuss and meet up</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/images/website_image/avatar1.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Nick Gibb</h4>
                                <p class="card-text">A young developer and tabletop fan. Nick is an avid gamer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/images/website_image/avatar2.jpg" style="height: 347px;">
                            <div class="card-body info">
                                <h4 class="card-title">Dr. Gerardo Aragon-Camarasa</h4>
                                <p class="card-text">A world class lecturer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="static/images/website_image/avatar3.jpg">
                            <div class="card-body info">
                                <h4 class="card-title">Ryan Maloney</h4>
                                <p class="card-text">A young developer and gamer who can't get enough of Card's Againt Humanity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
