{% extends 'dice/base.html' %}
{% block title_block %}
AboutUs
{% endblock %}

{% block links_block %}
 <link rel="stylesheet" type="text/css" href=".css">
{% endblock %}

{% block main_block %}
        <div class="textBox">
            <br>
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About us</h2>

                <p class="aboutUsText"> </p>
        </div>

        <div id="about_images">
            <img src="/static/images/glasgow_uni.jpg" class="glasgowUni">
            <img src="/static/images/Clydeside.jpg" class="clydeside">
        </div>
{% endblock %}