
<!DOCTYPE html>
{% load staticfiles %}

<html>
<head lang="en">
<style media="screen">
.navbar {
  maxß-height: 80px;
}
.footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.slim.min.js">
    <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href= "https://use.fontawesome.com/releases/v5.6.3/css/all.css">
   {% block nav %}
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="font-family: 'Advent Pro', sans-serif;color: #eeeeee;">
        <div class="container"><a class="navbar-brand" href="{% url 'home' %}" style="">COUCH CO-OP</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1" style="background-color: #ffffff;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/dice/about/">ABOUT</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/dice/game/">GAMES</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/dice/forum/">FORUM</a></li>
                    {% if user.is_authenticated%}
                     <li class="nav-item" role="presentation"><a class="nav-link" href="/dice/profile/">PROFILE</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/dice/logout/" >LOGOUT</a></li>
                    {% else %}
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/dice/register/">REGISTER</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" href="/dice/login/">LOGIN</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
</head>





<body>
<div>
{% block body_block %}













{% endblock %}
    </div>



  
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Couch CO-OP</small>

  </footer>

<html>
