<!DOCTYPE html>
{% load staticfiles %} <html>

<head>
  <title>Couch Co-op</title>
</head>

<body>
  <h1>Welcome to Couch CO-OP!</h1>
  <div>
    A website dediated to helping gamers find other gamers.
  </div>

  <div>
 <ul>

      <!-- Following line changed to add an HTML hyperlink -->


        <a href="/dice/forum/">Why not try and find a game using our Forum page?<br />
        <a href="/dice/game/"> Looking for a game to buy? <br />
        <a href="/dice/user/"> Or are you looking for someone in particular? <br />  


    </ul>


  </div>
  <div>
    <a href="/dice/about/">Why not learn a little about your Dungeon Masters?<br />

  </div>
</body>

</html>
