<html>
{% extends 'dice/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}

{% block body_block%}
<body>
 <main class="page landing-page" style="height:819px;background-image:url('couch co-op.jpg');">
    <div style="  height: 191px;"></div>
    <p class="text-center text-light" style="  height: 93px;
  background-size: auto;
  font-size: 81px;
  opacity: 0.69;
  font-family: Montserrat, sans-serif;
"><strong>COUCH CO-OP</strong></p>
    <p class="text-center" style="  font-size: 26px;
  color: #ffffff;
  opacity: 0.69;
"><strong>A HOME FOR GAMERS, BY GAMERS</strong></p>
</main>
        <div style="height: 191px;"></div>
        <p class="text-center text-light" style="height: 93px;background-size: auto;font-size: 81px;opacity: 0.69;font-family: Montserrat, sans-serif;"><strong>COUCH CO-OP</strong></p>
        <p class="text-center" style="font-size: 26px;color: #ffffff;opacity: 0.69;"><strong>A HOME FOR GAMERS, BY GAMERS</strong></p>
    </main>
{% endblock %}
</body>


</html>
