<html>
{% extends 'dice/base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% block body_block%}
<body>
 <!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">COUCH CO-OP</h1>
        <p class="lead">A HOME FOR GAMERS, BY GAMERS</p>
      </div>
    </div>
  </div>
</header>


</body>
{% endblock %}

</html>
