{% extends 'dice/base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}

{% block body_block %}
<style>
*

body {
  background-color: White;
}

p {
  color: Grey
  ;
  font-family: advent pro;

}



form {
  font-family: advent pro;
  font-size: 20px;
  color: grey;


}

ul{
  text-align: center;
}
</style>
<div class="container">

<p>
  Please enter your details to log in!

</p>

<p>
  Login

</p>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
</div>
{% endblock %}
