{% extends 'dice/base.html' %}

{% block title %}Login{% endblock %}

{% block body_block %}

</form>

 <main class="page login-page">
        <section class="clean-block clean-form dark" style="background-image: url(&quot;assets/img/couch%20co-op.jpg&quot;);">
            <div class="container">
                <div class="block-heading">
                    <h1 style="color: #ffffff;height: 58px;font-family: 'Advent Pro', sans-serif;font-size: 60px;filter: contrast(200%);"><strong>Login</strong></h1>
                </div>
                <form style="background-color: #eeeeee;"id="user_login" method="post" actions="{% url 'login' %}"
                    enctype="multipart/form-data">
                    <div class="form-group"><label for="username">Username</label>
                  <input type="text" name="username" id="username" class="form-control">
                    <div class="form-group"><label for="password">Password</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                    <div class="form-group">
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="checkbox"><label class="form-check-label" for="checkbox">Remember me</label></div>
                    </div><button class="btn btn-primary btn-block" type="submit">Log In</button></>
            </div>
        </section>
    </main>

{% endblock %}    
