{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.slim.min.js">
    <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href= "https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>Document</title>
</head>

<body>
      <div class="container">
         <div class="row">
            <div class="col-md-5 mx-auto">
               <div id="first">
                  <div class="myform form ">
                     <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                           <h1>Login</h1>
                        </div>
                     </div>

                     <div class="page-header" align="center">
                        <h1><strong>Registration</strong></h1>
                     </div>
                     {% if registered %}
                     <div class="col-xs-12" align="center">
                        <strong>
                           <h2>Thank you for registering with Couch CO-OP!</h2>
                        </strong>
                        <p>
                        <h3><a href="{% url 'home' %}">Return to the homepage.</a></h3>
                        <br/>
                        {% else %}
                        <form id="user_form" method="post" action="{% url 'register' %}"
                           enctype="multipart/form-data">
                     </div>
                     <!-- Display each form -->
                     {% csrf_token %}
                     <div class="row">
                     <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                     <h2>Sign Up Here <small>and you can begin contributing to the BestBrew Community.</small></h2><p>
                     {{ user_form|crispy }}
                     {{ profile_form|crispy }}
                     <!-- Provide a button to click to submit the form. -->
                     <input type="submit" class="btn btn-primary" name="submit" value="Register" />

                     {% endif %}
                     </div>
                     </div>
                     {% endblock %}
                  </div>
               </div>
            </div>
   </body>



</html>
