{% extends 'dice/base.html' %}
{% load staticfiles %}
{% block body_block %}
<main class="page registration-page">
        <section class="clean-block clean-form dark" style="background-image: url(&quot;assets/img/couch%20co-op.jpg&quot;);">
            <div class="container">
                <div class="block-heading">
                    <h1 style="color: #ffffff;font-size: 49px;font-family: 'Advent Pro', sans-serif;opacity: 1;"><strong>Register</strong></h1>
                </div>
                <form>
                    <div class="form-group"><p class="required"><label class="required" for="name">Username</label><input class="form-control item" type="text" id="name"></div>
                    <div class="form-group"><p class="required"><label for="email">Email</label><input class="form-control item" type="email" id="email"></div>
                    <div class="form-group"><p class="required"><label class="required" for="password">Password</label><input class="form-control item" type="password" id="password"></div>
                    <div class="form-group"><p class="required"><label class="required"  for="password2">Re-enter Password</label><input class="form-control item" type="password" id="password2"></div>
                  <button class="btn btn-primary btn-block" type="submit">Sign Up</button></form>
            </div>
        </section>
    </main>
{% endblock %}
